p.info{
  padding-left: 25px;
  padding-right: 25px;
  text-indent: 25px;
}

h1{
  text-align: center;
  color: rgb(88, 88, 88);
  font-size: 50px;
  text-transform: uppercase;
}

a.link{
  color: rgb(112, 0, 0);
  font-weight: bold;
  text-transform: capitalize;
}

a.link:hover{
  text-decoration: underline;
  opacity: 0.5;
}

.column {
  float: left;
  width: 50%;
}

p.childInfo {
  font-style: italic;
  color: gray;
}