p.info{
  padding-left: 25px;
  padding-right: 25px;
  text-indent: 25px;
}

p.quote{
  padding: 20px;
  font-size: 30px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 20px;
  line-height: 1.3;
  background-color: rgba(100, 100, 100, 0.5);
}

h1{
  text-align: center;
  color: rgb(88, 88, 88);
  text-transform: uppercase;
}

@media screen and (max-width:600px){
  h1 span{
      font-size: 45px;
  }  
}

@media screen and (min-width:601px){
  h1 span{
      font-size: 65px;
  }  
}

h2{
  text-align: left;
  color: rgb(88, 88, 88);
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width:600px){
  h2 span{
      font-size: 20px;
      line-height: 0;
  }  
}

@media screen and (min-width:601px){
  h2 span{
      font-size: 35px;
      line-height: 0;
  }  
}

a.link{
  color: rgb(112, 0, 0);
  font-weight: bold;
  text-transform: capitalize;
}

a.link:hover{
  text-decoration: underline;
  opacity: 0.5;
}

.column {
  float: left;
  width: 50%;
}

p.childInfo {
  font-style: italic;
  color: gray;
}

.button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

#ScrollButton {
  display: none;  
  position: fixed;  
  bottom: 20px;  
  right: 30px;  
  z-index: 99;  
  border: none;  
  outline: none;  
  background-color: red;  
  color: white;  
  cursor: pointer;  
  padding: 15px;  
  border-radius: 10px;  
  font-size: 18px;  
}

#ScrollButton:hover {
  background-color: #555;  
}